
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Lato' , sans-serif;
}

/* Navbar start*/
.navbar {
    background: rgb(252, 88, 5); /* Thay đổi màu nền thành màu cam */
}

#logo {
    font-size: 36px;
    font-weight: 590;
    color: black;
    text-shadow: 1px 2px 1px rgb(102, 246, 12);
    margin-bottom: 0px;
}

#logo span {
    color: rgb(249, 245, 0);
}

.navbar-toggler span {
    color: rgb(255, 89, 0);   
}

.navbar-nav {
    margin-left: 20px;
}

.nav-item .nav-link {
    font-size: 12px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.nav-item .nav-link:hover {
    background: rgb(255, 111, 0);
    color: rgb(255, 255, 255);
}

.navbar form button {
    background: rgb(255, 115, 0);
    color: white;
    border: none;
}

/* đăng nhập , đăng ký */
#btn-login, #btn-signup {
    width: auto;
    border: 2px solid transparent;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 0px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 20 20px; /* Khoảng cách giữa các nút */
    display: inline-flex;
    align-items: center;
}

#btn-login a, #btn-signup a {
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}

#btn-login:hover, #btn-login:hover a {
    background-color: #040cef;
    color: white;
}

#btn-signup:hover, #btn-signup:hover a {
    background-color: #043cf3;
    color: white;
}

.navbar-nav .nav-item {
    margin-right: 10px; 
}
#btn-signup {
    margin-left: 20px;
}
@media screen and (max-width: 500px) {
    .top-icons {
        margin-left: 30px;
    }

    .top-icons i {
        font-size: 15px;
    }

    .other-links i {
        font-size: 15px;
    }

    #btn-login, #btn-signup {
        padding: 0 10px;
    }
}

@media screen and (max-width: 350px) {
    .top-icons {
        margin-left: 5px;
    }

    .top-icons i {
        font-size: 12px;
    }

    .other-links {
        margin-right: 10px;
    }

    .other-links i {
        font-size: 12px;
    }

    #btn-login, #btn-signup {
        padding: 0 5px;
        font-size: 10px;
    }
}
/* đăng nhập , đăng ký end */
